*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Funnel Display", sans-serif;
  margin: 0;

  display: flex;
  flex-flow: column;
  justify-content: center;
}

main {
  width: 100%;
  /* max-width: 1200px; */
  padding: 2rem 3rem;

  display: flex;
  justify-content: center;
}

header.navbar-container {
  width: 100%;
  padding-block: 0.5rem;
  padding-inline: 5em;
  /* border-bottom: 1px solid rgb(5, 5, 70); */

  display: flex;
  justify-content: space-around;
  align-items: center;
}

header.navbar-container .logo img {
  width: 200px;
  padding-inline: auto;
}

header.navbar-container .nav-list ul {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

header.navbar-container .nav-list li {
  list-style-type: none;
}

header.navbar-container .nav-list li a {
  text-decoration: none;
  font-weight: 400;
  color: rgb(36, 36, 105);
}

a::after {
  text-decoration: none;
}

.hero-container {
  /* padding: 2rem 4rem; */
  display: flex;
  justify-content: space-around;
  gap: 6em;
}

/* .hero-container .hero-image {
  display: flex;
  justify-content: center;
} */
.hero-container .hero-image img {
  width: 25rem;
  height: 30rem;
  border-radius: 15px;
  object-fit: cover;
  object-position: right;
}

.hero-container .headtext {
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.hero-container div h1 {
  font-size: 5.5rem;
  line-height: 1em;
  font-family: "Funnel Display", sans-serif;
  margin-block: 0;
  color: #41a67e;
}

.hero-container div button {
  padding: 1em 2em;
  border: 0px;
  border-radius: 10px;
  background-color: #090952;
  color: white;
  font-family: inherit;
  font-weight: 600;
}
