*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Funnel Display", sans-serif;
  margin: 0;
  background-color: #f4ecd8;

  display: flex;
  flex-flow: column;
  justify-content: center;
  /* gap: 50px; */
  min-height: 100vh;
}

main {
  flex: 1;
  width: 100%;
  /* max-width: 1200px; */
  padding: 2rem 3rem;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}

header.navbar-container {
  width: 100%;
  padding-block: 0.5rem;
  padding-inline: 5em;

  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #f4ecd8;
  /* border-bottom: 1px solid rgb(5, 5, 70); */

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo img {
  width: 200px;
  padding-inline: auto;
}

header.navbar-container .nav-list ul {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 0;
}

header.navbar-container .nav-list li {
  list-style-type: none;
}

header.navbar-container .nav-list li a {
  text-decoration: none;
  font-weight: 400;
  color: rgb(36, 36, 105);
  padding: 10px 20px;
  border-radius: 700px;
  transition: all 0.2s ease-in-out;
}

header.navbar-container .nav-list li a:hover {
  background-color: #53a648;
  font-weight: 400;
  color: white;
}

a::after {
  text-decoration: none;
}

.hero-container {
  /* padding: 2rem 4rem; */
  display: flex;
  justify-content: space-around;
  gap: 6em;
}

.hero-container .hero-image img {
  width: 25rem;
  height: 30rem;
  border-radius: 15px;
  object-fit: cover;
  object-position: right;
}

.hero-container .headtext {
  width: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.hero-container div h1 {
  font-size: 5.5rem;
  line-height: 1em;
  font-family: "Funnel Display", sans-serif;
  margin-block: 0;
  color: #0a2b56;
  text-shadow: rgba(128, 128, 128, 0.938) 1px 2px 10px;
}

.hero-container div button {
  padding: 1em 2em;
  border: 3px solid #0a2b56;
  border-radius: 10px;
  color: #0a2b56;
  font-family: inherit;
  font-weight: 600;

  cursor: pointer;
}

.hero-container div button:hover {
  background-color: #0a2b56;
  color: white;
  border-radius: 15px;

  transition: all 0.2s ease-in-out;
}

/* CATEGORY */
.category-menu {
  display: flex;
  flex-flow: column nowrap;
}

.category-menu .judul-2 h2 {
  color: #0a2b56;
  font-family: "Funnel Display", sans-serif;
  font-size: 2.5rem;
  margin-block: auto;
  text-align: center;
}

.category-container {
  /* background-color: aquamarine; */
  padding: 2rem 4rem;
  width: 100%;
  height: auto;

  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  align-content: center;
  column-gap: 10px;
  row-gap: 30px;
  /* column-gap: 30px; */
}

.category-container .category-card {
  padding: 2em;
  background-color: white;
  width: 18em;
  min-height: 15em;
  /* border: #05339c 3px solid; */
  box-shadow: 2px 5px 3px rgba(0, 0, 0, 0.322);
  border-radius: 20px;

  /* flex: 1; */

  font-family: inherit;
}

.category-container .category-card:hover {
  background-color: #2286c4;
  color: white;
  border-radius: 30px;
  cursor: pointer;

  /* flex: 2; */

  transition: all 0.2s ease-in-out;
}

/* .category-container .category-card article {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
} */

.category-container .category-card article h3 {
  margin-block: 5px;
}

.category-container .category-card article p {
  margin-top: 8px;
  text-align: left;
}

.category-container .category-card .card-icon {
  background-color: #53a648;
  border-radius: 5px;
  width: 2em;
  height: 2em;

  display: flex;
  justify-content: center;
  align-items: center;
}
.category-container .category-card article img {
  width: 20px;
  color: #0f2b57;
}

footer {
  background-color: #0a2b56;
  color: white;
}

footer .upper-footer {
  padding: 1em 4em;
  justify-self: end;
}

footer .bottom-footer {
  padding-block: 1rem;
  border-top: #53a648 1px solid;
  text-align: center;
}

@media screen and (max-width: 768px) {
  header.navbar-container {
    flex-direction: column;
    border: 0.5px solid #0a2b56;
    padding: 5px 20px;
  }

  header.navbar-container .nav-list ul {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem 1rem;
    align-content: center;
  }

  header.navbar-container .nav-list li a {
    background-color: #0a2b56;
    color: white;
    font-weight: 500;
    padding-inline: 15px;
  }

  main {
    padding: 20px 15px;
  }

  .hero-container {
    flex-direction: column;
    gap: 2em;
    max-width: 100%;
  }

  .hero-container .headtext {
    width: 100%;
    text-align: center;
    align-items: center;
    gap: 2em;
    order: 1;
  }

  .hero-container .headtext h1 {
    font-size: 4em;
  }

  .hero-container .hero-image {
    order: -1;
    width: 100%;

    display: flex;
    justify-content: center;
  }

  .hero-container .hero-image img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  .category-menu .category-container {
    padding-inline: 10px;
  }

  .category-container .category-card {
    width: auto;
    align-items: stretch;
  }
}

/* =========== */
/* READ PAGE */
span .english-quote {
  color: rgb(219, 35, 35);
}
table {
  text-align: start;
}

main.main2 {
  padding: 2rem 5rem;
  background-color: #f5f5dc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  align-items: flex-start;
}

.category-card {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.322);
  border-radius: 20px;
}

aside.category-card {
  padding: 1rem 2rem;
  background-color: #e7e7e7;
}

.article-container {
  width: 100%;
  background-color: #f1d9b4;
  padding: 2rem 3rem;
  border-radius: 5px;
}

figure {
  text-align: center;
}

figure img {
  border-radius: 5px;
}

.article-container img {
  width: 600px;
}

@media screen and (max-width: 768px) {
  main.main2 {
    flex-direction: column;
    padding: 20px;
  }
}

/* ============= */
/* LOGIN PAGE  */
main.login-container {
  width: 50em;
  max-height: 30em;
  margin: auto;
  padding: 2em;
  border-radius: 20px;

  background-color: #53a648;

  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  gap: 0;
}

.login-form {
  flex: 2;
  padding: 2em 3em;
  background-color: #0a2b56;
  border-radius: 10px 0px 0px 10px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  /* align-items: center; */
}

.login-form form {
  display: flex;
  flex-direction: column;
  color: white;
}

.login-form form button {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #2286c4;
  color: white;
  font-family: inherit;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.login-form form button:hover {
  background-color: #53a648;
}

.login-form form a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  text-align: center;
}

.login-form form a:hover {
  color: #53a648;
}

.login-form h1 {
  font-size: 35px;
  color: white;
}

main.login-container .login-image {
  flex: 1;
  width: 20rem;
  padding: 1em 1.5em;
  background-color: white;
  border-radius: 0px 10px 10px 0px;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

main.login-container .login-image img {
  width: 300px;
}

@media screen and (max-width: 768px) {
  main.login-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    padding: 20px;
  }

  main.login-container .login-image {
    width: 100%;
    max-height: 10em;
    border-radius: 10px 0px 0px 0px;
  }

  .login-form {
    border-radius: 0px 0px 10px 0px;
    max-height: 30em;
    justify-content: flex-start;
  }

  figure {
    width: 100%;
  }
  figure img {
    width: 100%;
  }
}
